<% content_for :app_header do %>
<h1><a href="/">Best Food Near Me</a></h1>
<% end %>

<section class="c-hero c-hero--square"
         style="background-image: url('http://fillmurray.com/800/800');">
</section>

<article class="c-dish">
  <h2 class="c-dish__name">
    Sausage Egg & Cheese Sandwich
  </h2>

  <button class="c-dish__call-to-action c-button c-button--primary">
    Add to Favorites
  </button>

  <div>
    Price:
    $3.75
  </div>

  <div>
    Votes:
    10
  </div>

  <div>
    Phone:
    123-456-7890
  </div>

  <div>
    Diet:
    Paleo, Comfort Food
  </div>

  <div>
    Allergy Safe:
    Seafood free, peanut free, soy free
  </div>

  <div>
    Cuisine:
    American
  </div>

  <div>
    Restaurant
    Sycamore Drive Inn<br>
    282 Greenwood Ave.<br>
    Bethel, CT<br>
    United States
  </div>

  <div>
    Taste:
    Savory, salty
  </div>

  <div>
    Description:
    Long description…
  </div>
</article>
