<% content_for :app_header do %>
<h1><a href="/">Best Food Near Me</a></h1>
<% end %>

<article class="c-dish">
  <section class="c-hero c-hero--square"
           style="background-image: url('http://fillmurray.com/800/800');">
    <a href="#" class="c-dish__add-image-button
                       u-flex
                       u-flex-items-center
                       u-flex-justify-center">
      Add an Image
    </a>
  </section>

  <section class="c-dish__body">
    <h2 class="c-dish__name">
      Sausage Egg & Cheese Sandwich
    </h2>

    <button class="c-dish__call-to-action c-button c-button--primary">
      Add to Favorites
    </button>

    <div class="c-slat">
      <span class="c-slat__title">Price:</span>
      <span class="c-slat__body">$3.75</span>
    </div>

    <div class="c-slat">
      <span class="c-slat__title">Votes:</span>
      <span class="c-slat__body">10</span>
    </div>

    <div class="c-slat">
      <span class="c-slat__title">Phone:</span>
      <span class="c-slat__body">123-456-7890</span>
    </div>

    <div class="c-slat">
      <span class="c-slat__title">Diet:</span>
      <span class="c-slat__body">Paleo, Comfort Food</span>
    </div>

    <div class="c-slat">
      <span class="c-slat__title">Allergy Safe:</span>
      <span class="c-slat__body">Seafood free, peanut free, soy free</span>
    </div>

    <div class="c-slat">
      <span class="c-slat__title">Cuisine:</span>
      <span class="c-slat__body">American</span>
    </div>

    <div class="c-slat">
      <span class="c-slat__title c-slat__title--block">Restaurant:</span>
      Sycamore Drive Inn<br>
      282 Greenwood Ave.<br>
      Bethel, CT<br>
      United States
    </div>

    <div class="c-slat">
      <span class="c-slat__title">Taste:</span>
      Savory, salty
    </div>

    <div class="c-slat">
      <span class="c-slat__title c-slat__title--block">Description:</span>
        Lorem ipsum dolor sit amet, <strong>this is bold text</strong> adipiscing elit. Praesent at <em>this is emphasized text</em>. Donec in ligula ac leo pellentesque euismod. Aenean <a href="#">this is a link</a> hendrerit. Sed tempor, felis ac bibendum dignissim, neque purus vehicula urna, sed faucibus nulla urna eget risus. Nullam blandit quis arcu congue egestas.
    </div>
  </section>
</article>
