<% content_for :app_header do %>
<h1>Breakfast</h1>
<a href="#" class="u-line-height-zero">
  <%= svg("menu") %>
</a>
<% end %>

<section class="c-sub-nav u-flex u-flex-justify-space-between">
  <button class="c-sub-nav__item
                 c-sub-nav__item--active
                 c-button
                 c-button--naked">
    Distance
  </button>
  <button class="c-sub-nav__item c-button c-button--naked">Newest</button>
  <button class="c-sub-nav__item c-button c-button--naked">Location</button>
  <a href="/filter" class="c-sub-nav__item c-button">Filter</a>
</section>

<section class="c-call-to-action">
  <div class="c-call-to-action__call">
    <p>You’re 10 seconds away from being a food&nbsp;expert!</p>
  </div>
  <div class="c-call-to-action__action">
    <button class="c-button c-button--primary">Share a Breakfast Dish</button>
  </div>
</section>

<section>
  <article class="p-media c-dish-preview">
    <div class="p-media__figure c-dish-preview__figure">
      <a href="/dish">
        <img src="http://fillmurray.com/200/200">
      </a>
    </div>

    <div class="p-media__body">
      <a href="/dish">
        <h3 class="c-dish-preview__title">
          Sausage Egg & Cheese Sandwich
        </h3>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__distance">10 miles</span>
          <span class="c-dish-preview__city">Bethel, CT</span>
        </div>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__votes">150 votes</span>
          <span class="c-dish-preview__business">Sycamore Drive Inn</span>

          <div class="c-cost-indicator">
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step">$</span>
            <span class="c-cost-indicator__step">$</span>
          </div>
        </div>

        <div class="c-dish-preview__tags">
          <span class="p-badge c-dish-preview__tag">Breakfast</span>
          <span class="p-badge c-dish-preview__tag">Salty</span>
          <span class="p-badge c-dish-preview__tag">Paleo</span>
        </div>
      </a>
    </div>
  </article>

  <article class="p-media c-dish-preview">
    <div class="p-media__figure c-dish-preview__figure">
      <a href="/dish">
        <img src="http://fillmurray.com/200/200">
      </a>
    </div>

    <div class="p-media__body">
      <a href="/dish">
        <h3 class="c-dish-preview__title">
          Lobster Eggs Benedict
        </h3>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__distance">10 miles</span>
          <span class="c-dish-preview__city">Bethel, CT</span>
        </div>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__votes">150 votes</span>
          <span class="c-dish-preview__business">Sycamore Drive Inn</span>

          <div class="c-cost-indicator">
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step">$</span>
            <span class="c-cost-indicator__step">$</span>
          </div>
        </div>

        <div class="c-dish-preview__tags">
          <span class="p-badge c-dish-preview__tag">Breakfast</span>
          <span class="p-badge c-dish-preview__tag">Salty</span>
          <span class="p-badge c-dish-preview__tag">Paleo</span>
        </div>
      </a>
    </div>
  </article>

  <article class="p-media c-dish-preview">
    <div class="p-media__figure c-dish-preview__figure">
      <a href="/dish">
        <img src="http://fillmurray.com/200/200">
      </a>
    </div>

    <div class="p-media__body">
      <a href="/dish">
        <h3 class="c-dish-preview__title">
          Roasted Pork Shoulder with Spicy Mustard
        </h3>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__distance">10 miles</span>
          <span class="c-dish-preview__city">Bethel, CT</span>
        </div>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__votes">150 votes</span>
          <span class="c-dish-preview__business">Sycamore Drive Inn</span>

          <div class="c-cost-indicator">
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step">$</span>
            <span class="c-cost-indicator__step">$</span>
          </div>
        </div>

        <div class="c-dish-preview__tags">
          <span class="p-badge c-dish-preview__tag">Breakfast</span>
          <span class="p-badge c-dish-preview__tag">Salty</span>
          <span class="p-badge c-dish-preview__tag">Paleo</span>
        </div>
      </a>
    </div>
  </article>

  <article class="p-media c-dish-preview">
    <div class="p-media__figure c-dish-preview__figure">
      <a href="/dish">
        <img src="http://fillmurray.com/200/200">
      </a>
    </div>

    <div class="p-media__body">
      <a href="/dish">
        <h3 class="c-dish-preview__title">
          Another Breakfast Dish
        </h3>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__distance">10 miles</span>
          <span class="c-dish-preview__city">Bethel, CT</span>
        </div>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__votes">150 votes</span>
          <span class="c-dish-preview__business">Sycamore Drive Inn</span>

          <div class="c-cost-indicator">
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step">$</span>
            <span class="c-cost-indicator__step">$</span>
          </div>
        </div>

        <div class="c-dish-preview__tags">
          <span class="p-badge c-dish-preview__tag">Breakfast</span>
          <span class="p-badge c-dish-preview__tag">Salty</span>
          <span class="p-badge c-dish-preview__tag">Paleo</span>
        </div>
      </a>
    </div>
  </article>

  <article class="p-media c-dish-preview">
    <div class="p-media__figure c-dish-preview__figure">
      <a href="/dish">
        <img src="http://fillmurray.com/200/200">
      </a>
    </div>

    <div class="p-media__body">
      <a href="/dish">
        <h3 class="c-dish-preview__title">
          Another Breakfast Dish
        </h3>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__distance">10 miles</span>
          <span class="c-dish-preview__city">Bethel, CT</span>
        </div>

        <div class="c-dish-preview__metadata">
          <span class="c-dish-preview__votes">150 votes</span>
          <span class="c-dish-preview__business">Sycamore Drive Inn</span>

          <div class="c-cost-indicator">
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step c-cost-indicator__step--active">$</span>
            <span class="c-cost-indicator__step">$</span>
            <span class="c-cost-indicator__step">$</span>
          </div>
        </div>

        <div class="c-dish-preview__tags">
          <span class="p-badge c-dish-preview__tag">Breakfast</span>
          <span class="p-badge c-dish-preview__tag">Salty</span>
          <span class="p-badge c-dish-preview__tag">Paleo</span>
        </div>
      </a>
    </div>
  </article>
</section>
