<article class="p-media c-dish-preview">
  <div class="p-media__figure c-dish-preview__figure">
    <a href="#">
      <img src="http://fillmurray.com/200/200">
    </a>
  </div>
  <div class="p-media__body">
    <a href="#">
      <h3 class="c-dish-preview__title">
        Sausage Egg & Cheese Sandwich
      </h3>
    </a>
  </div>
</article>

<article class="p-media c-dish-preview">
  <div class="p-media__figure c-dish-preview__figure">
    <a href="#">
      <img src="http://fillmurray.com/200/200">
    </a>
  </div>
  <div class="p-media__body">
    <a href="#">
      <h3 class="c-dish-preview__title">
        Lobster Eggs Benedict
      </h3>
    </a>
  </div>
</article>

<article class="p-media c-dish-preview">
  <div class="p-media__figure c-dish-preview__figure">
    <a href="#">
      <img src="http://fillmurray.com/200/200">
    </a>
  </div>
  <div class="p-media__body">
    <a href="#">
      <h3 class="c-dish-preview__title">
        Roasted Pork Shoulder with Spicy Mustard
      </h3>
    </a>
  </div>
</article>

<article class="p-media c-dish-preview">
  <div class="p-media__figure c-dish-preview__figure">
    <a href="#">
      <img src="http://fillmurray.com/200/200">
    </a>
  </div>
  <div class="p-media__body">
    <a href="#">
      <h3 class="c-dish-preview__title">
        Another Breakfast Dish
      </h3>
    </a>
  </div>
</article>

<article class="p-media c-dish-preview">
  <div class="p-media__figure c-dish-preview__figure">
    <a href="#">
      <img src="http://fillmurray.com/200/200">
    </a>
  </div>
  <div class="p-media__body">
    <a href="#">
      <h3 class="c-dish-preview__title">
        Another Breakfast Dish
      </h3>
    </a>
  </div>
</article>
