<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Best Food Near Me</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <div class="c-container">
      <header class="c-app-header
                     u-flex
                     u-flex-items-center
                     u-flex-justify-space-between"
              role="banner">
        <%= yield_content :app_header %>
      </header>

      <main role="main">
        <%= yield %>
      </main>

      <footer class="c-app-footer" role="contentinfo">
        <span class="c-app-footer__copyright">
          &copy; 2016 Best Food Near Me, Inc.
        </span>
        <a class="c-app-footer__link" href="#">
          Privacy Policy
        </a>
        <a class="c-app-footer__link" href="#">
          Terms of Service
        </a>
      </footer>
    </div>
  </body>
</html>
