.p-badge {
  background-color: $secondary-background-color;
  border-radius: $base-border-radius;
  color: $base-font-color;
  display: inline-block;
  font-size: modular-scale(-2);
  line-height: 1.5;
  padding: 0 modular-scale(-5);
}
