.c-app-footer {
  color: tint($base-font-color, 50%);
  padding: $small-spacing;
}

.c-app-footer__link {
  color: tint($base-font-color, 50%);
  margin-right: $small-spacing;
}

.c-app-footer__copyright {
  display: block;
  margin-right: auto;
}
