$_call-to-action-gutter: $base-spacing $small-spacing;

.c-call-to-action {
  padding: $_call-to-action-gutter;
}

.c-call-to-action__call {
  text-align: center;
}

.c-call-to-action__action {
  text-align: center;
}
