.c-category-list__item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::after {
    @include position(absolute, 0);
    background-color: rgba($black, 0.5);
    content: "";
    z-index: 1;
  }
}

.c-category-list__item-title {
  @include padding(modular-scale(2) null);
  @include position(absolute, 50% 0.75rem null);
  color: $white;
  display: block;
  font-size: modular-scale(0);
  text-align: center;
  transform: translateY(-50%);
  z-index: 2;
}

.c-category-list__item-count {
  font-weight: 400;
}
