.c-cost-indicator {
  display: inline-block;
  letter-spacing: -0.12em;
  white-space: nowrap;
}

.c-cost-indicator__step {
  color: tint($base-font-color, 75%);
}

.c-cost-indicator__step--active {
  color: tint($base-font-color, 25%);
}
