$_dish-gutter: $base-spacing $small-spacing;

.c-dish__add-image-button {
  @include position(absolute, 0);
  color: $white;

  &:focus,
  &:hover {
    color: $white;
  }
}

.c-dish__body {
  border-bottom: $base-border;
  padding: $_dish-gutter;
}

.c-dish__name {
  margin-bottom: $base-spacing;
}

.c-dish__call-to-action {
  margin-bottom: $base-spacing;
}
