$_dish-preview-gutter: $base-spacing $small-spacing;
$_dish-preview-title-color: $action-color;

.c-dish-preview {
  border-bottom: $base-border;
  padding: $_dish-preview-gutter;

  &:first-of-type {
    border-top: $base-border;
  }
}

.c-dish-preview__figure {
  max-width: 80px;
}

.c-dish-preview__title {
  color: $_dish-preview-title-color;
  font-size: modular-scale(0);
  font-weight: 600;
  text-decoration: underline;
}

.c-dish-preview__metadata {
  color: tint($base-font-color, 25%);
  font-size: modular-scale(-1);
}
