<% content_for :page_title do %>
Best Food Near Me
<% end %>

<section>
  <h2>Find Dishes By Location</h2>
  <h3>Sub-Headline</h3>
  <h3>Sub-Headline</h3>
  <h3>Sub-Headline</h3>
</section>

<section class="c-call-to-action">
  <div class="c-call-to-action__action">
    <button class="c-button">Add a Dish</button>
  </div>
</section>

<section>
  <ol class="p-block-list c-category-list">
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Breakfast
          <span class="c-category-list__item-count">(1,273)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Lunch
          <span class="c-category-list__item-count">(2,736)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Dinner
          <span class="c-category-list__item-count">(3,217)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Allergy Safe
          <span class="c-category-list__item-count">(671)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Diets
          <span class="c-category-list__item-count">(1,725)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Dessert
          <span class="c-category-list__item-count">(563)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Best Of
          <span class="c-category-list__item-count">(10,231)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Late Night
          <span class="c-category-list__item-count">(271)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Coffee / Tea
          <span class="c-category-list__item-count">(579)</span>
        </h3>
      </a>
    </li>
    <li class="p-block-list__item c-category-list__item"
        style="background-image: url('http://fillmurray.com/500/250');">
      <a href="/category-results">
        <h3 class="c-category-list__item-title">
          Recently Added
          <span class="c-category-list__item-count">(750)</span>
        </h3>
      </a>
    </li>
  </ol>
</section>
